.footer {
    background-color: #ED1C24;
    padding: 1rem;
    margin-top: 1rem;
}

.footer__image {
    display: flex !important;
    /* background-color: white !important; */
    padding-left: 1rem;
    padding-top: 1rem; 
    text-align: center;
}

.footer__link {
    margin: auto;
}

.footer__logo {
    height: 70px;
    width: auto;
    padding-bottom: 10px;
    vertical-align: middle;
    margin-left: auto;
}

.footer__socialMedia {
    text-align: center !important;
    list-style: none;
    padding-left: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 23px;
    padding-top: 20px;
}

.footer__socialMediaItems {
    margin-right: 0.5rem;
    display: inline-block;
    text-align: -webkit-match-parent;
}

.socialMedia__Links {
    margin-left: 0.25rem !important;
    margin-right: 0.25rem !important;
    color: white;
    text-decoration: none;
    background-color: transparent;
    zoom: 140%;
}

.socialMedia__Links :hover {
    color: black;
    /* color: rgb(197, 196, 196) ; */
}

.copyright__info {
    text-align: center;
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
    padding-inline-start: 23px;
    color: white;
}

.copyright__infoLink {
    color: white ;
}

.copyright__info :hover{
    text-decoration: none;
    color: black;
}